
PORT=3000

SIMAS_DB_HOST=localhost
SIMAS_DB_PORT=3306
SIMAS_DB_USER=root
SIMAS_DB_PASSWORD=
SIMAS_DB_NAME=db_name

FLOW_DB_HOST=localhost
FLOW_DB_PORT=3306
FLOW_DB_USER=root
FLOW_DB_PASSWORD=
FLOW_DB_NAME=db_name

NUSACONTACT_API_URL=https://nusacontact.com/api
NUSACONTACT_API_KEY=
NUSACONTACT_PHONE_ID=

WHATSAPP_API_KEY=
WHATSAPP_API_URL=https://graph.facebook.com
WHATSAPP_API_VERSION=v22.0
WHATSAPP_API_PHONE_ID=

NUSANET_APP_SECRET=
NUSAFIBER_APP_SECRET=
PASSPHRASE=

PRIVATE_KEY=
